// Colors
$white: #ffffff;
$black: #000000;

$grey: #bfbfbf;
$greydark: #979797;
$greylight: #d6d6d6;

$bluelight: #6e95d2;
$bluegrey: #9fb4e4;
$blue: #294ac6;
$bluedarkhalf: #05189a;
$bluedark: #031268;